/* BASE STYLING */
:root {
	--header-size: 2rem;
	--wrapper-size: 164rem;

	--animation-length: 2s;
	--animation-length-after: 2s;
	--animation-delay-before: 1s;
	--animation-delay-after: calc(var(--animation-delay-before) + var(--animation-length));
	--animation-easing: cubic-bezier(0.550, 0.055, 0.675, 0.190);

	--palette-1: #379387;
	--palette-2: #DA6F59;
	--palette-3: #897CA6;
	--palette-4: #B59B40;
	--palette-5: #191919;
	--palette-6: #F5F5F4;
	--palette-7: #FFFFFF;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

*:link, *:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans';
	font-size: 4rem;
	line-height: 1.1;
	user-select: none;
}

.wrapper {
	position: relative;
	height: auto;
	max-width: var(--wrapper-size);
	margin: auto;
}

/* REUSABLES */

.heading-primary {
	font-size: 10rem;
	line-height: .9;
	white-space: pre-line;
}

.heading-secondary {
	font-size: 6rem;
	font-weight: 700;
	margin-top: -1em;
	white-space: pre-line;
}

/*  */

.splash::before {
	content: '';
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--palette-6);
	animation: swoop-right var(--animation-length) var(--animation-easing) both;
	animation-delay: var(--animation-delay-before);
}

.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	background-color: var(--palette-5);
	color: var(--palette-6);

	animation: swoop-shrink var(--animation-length) var(--animation-easing) both;
	animation-delay: var(--animation-delay-after);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	padding: var(--header-size) 10rem;
	z-index: 99;
	background-color: var(--palette-6);
}

.header__brand {
	display: block;
	margin-right: auto;
	height: 12rem;
	width: auto;
}

.header__brand img {
	height: 100%;
	width: auto;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar > :not(:last-child) {
	margin-right: 4rem;
}

.navbar__link {
	font-size: 3rem;
	text-transform: uppercase;
}

.section {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--palette-6);
	font-family: 'Raleway', sans-serif;
}

.front {
	flex-direction: column;
	padding-top: calc(var(--header-size) * 3);
}

.go {
	position: absolute;
	bottom: 0;
	padding: 10rem;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--palette-6);
}

.project__text {
	flex-basis: 50%;
	margin-right: auto;
}

.project__heading {
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
}

.project__summary {
	font-size: 5rem;
	white-space: pre-line;
}

.project__img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48rem;
	width: 64rem;
}

.project__img img{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: auto;
	padding: 10rem 0;
	background-color: var(--palette-7);
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}

.social > :not(:last-child) {
	margin-right: 6rem;
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
}

.social__link img {
	width: auto;
	height: 100%;
}

.copyright {
	font-size: 2rem;
	text-transform: uppercase;
}

.header::after, .section::after, .footer::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 100%;
	width: 100vw;
	z-index: -1;
	background-color: inherit;
}

#aer-studios {
	background-color: var(--palette-1);
}
#fest-series {
	background-color: var(--palette-2);
}
#nexx-ting {
	background-color: var(--palette-3);
}
#moveon {
	background-color: var(--palette-4);
}

@keyframes swoop-shrink {
	to {
		height: 0%;
	}
}

@keyframes swoop-expand {
	from {
		height: 0;
	}

	to {
		height: 100vh;
	}
}

@keyframes swoop-right {
	to {
		width: 0%;
	}
}
